<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Estate Auction</title>
    <!--link-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/public/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/animate.css">

    <link rel="stylesheet" href="/public/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/assets/css/aos.css">

    <link rel="stylesheet" href="/public/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="/public/assets/css/bootstrap-datepicker.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/realestate.png">
    <link rel="stylesheet" href="/public/assets/css/flaticon.css">
    <link rel="stylesheet" href="/public/assets/css/icomoon.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/iconds.css">
</head>
<body>
{{>header}}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(/public/assets/images/slider/slider1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Căn hộ cao cấp tại Bình Dương</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Thành Phố Thủ Đức</span>
                    <p>Tiện ích nội khu, ngoại khu đẳng cấp quốc tế</p>
                    <p>- Tiện ích nội khu: hồ bơi vô cực duy nhất tại Bình Dương, khu vui chơi, khu tập gym, vườn nhiệt
                        đới, quảng trường, công viên với nhiều cây cổ thụ</p>
                    <p>- Tiện ích ngoại khu: trung tâm thương mại Aeon Mall, Lotte, trường học và bệnh viện quốc tế</p>
                    <span class="price">1.9 tỷ - 50<sup>2</sup> </span>
                    <a href="/slider/1" class="btn-custom p-3 px-4 bg-primary">Xem chi tiết <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(public/assets/images/slider/slider2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">BIỆT THỰ SONG LẬP THUỘC dự án Novaworld</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Quận 5, TPHCM</span>
                    <p>Dự án đang hot nhất và nổi tiếng nhất tại Quận 5, đầu tư siêu lợi nhuận, Dự án đã vận hành phân khu đầu tiên tạo đà phát triển cho khách trong nước và quốc tế biết đến.
                        Dự án này là nơi check in đầu tiên khi du khách đặt chân tới TPHCM.</p>
                    <span class="price">8.5 tỷ - 200<sup>2</sup> </span>
                    <a href="/slider/2" class="btn-custom p-3 px-4 bg-primary">Xem chi tiết <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(public/assets/images/slider/slider3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Vinhomes green bay</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Quận 6, TPHCM</span>
                    <p>Nhà thiết kế nhiều phòng ngủ và phòng đa chức năng, view cực đẹp, là 1 trong những căn đẹp nhất khu, nằm trong quần thể khu đô thị đáng sống bậc nhất TPHCM.</p>
                    <span class="price">Thỏa thuận - 200m<sup>2</sup></span>
                    <a href="/slider/3" class="btn-custom p-3 px-4 bg-primary">Xem chi tiết <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{{body}}}
{{>footer}}
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/public/assets/js/popper.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/assets/js/jquery.easing.1.3.js"></script>
<script src="/public/assets/js/jquery.waypoints.min.js"></script>
<script src="/public/assets/js/jquery.stellar.min.js"></script>
<script src="/public/assets/js/owl.carousel.min.js"></script>
<script src="/public/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/public/assets/js/aos.js"></script>
<script src="/public/assets/js/jquery.animateNumber.min.js"></script>
<script src="/public/assets/js/bootstrap-datepicker.js"></script>
<script src="/public/assets/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/public/assets/js/google-map.js"></script>
<script src="/public/assets/js/main.js"></script>
</body>
</html>