<ul id="list-comments" class="list-comments">
    {{#each comment}}
        <li class="comment-children">
            <div class="comment-avatar">
                <img src="{{this.avatar}}" alt="">
            </div>
            <div class="comment-details">
                <h4 class="comment-author">{{name}}</h4>
                <span>{{time timecmt}}</span>
                <p class="comment-description">
                    {{content}}
                </p>
                <a href="#">Reply</a>
            </div>
        </li>
    {{/each}}
</ul>
